/****** Object:  Table [dbo].[Product]    Script Date: 17.03.2023 22:32:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Product]') AND type in (N'U'))
DROP TABLE [dbo].[Product]
GO
/****** Object:  Table [dbo].[ParticleOperation]    Script Date: 17.03.2023 22:32:34 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ParticleOperation]') AND type in (N'U'))
DROP TABLE [dbo].[ParticleOperation]
GO
/****** Object:  Table [dbo].[ParticleOperation]    Script Date: 17.03.2023 22:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParticleOperation](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Operation_Code] [nvarchar](150) NULL,
	[Operation_Description] [nvarchar](150) NULL,
	[O_Start_Date] [datetime] NULL,
	[O_End_Date] [datetime] NULL,
	[O_Status] [nvarchar](20) NULL,
	[Station] [nchar](10) NULL,
	[O_Track_Code] [nvarchar](15) NULL,
 CONSTRAINT [PK_Particle_Operations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 17.03.2023 22:32:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Track_Code] [nvarchar](15) NOT NULL,
	[Work_Order] [nvarchar](15) NULL,
	[pr_Name] [nvarchar](150) NULL,
	[Start_Date] [date] NULL,
	[End_Date] [date] NULL,
	[Status] [nvarchar](20) NULL,
	[Due_Date] [date] NULL,
	[PictureLink] [nvarchar](max) NULL,
 CONSTRAINT [PK_WO_Products_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ParticleOperation] ON 

INSERT [dbo].[ParticleOperation] ([Id], [Operation_Code], [Operation_Description], [O_Start_Date], [O_End_Date], [O_Status], [Station], [O_Track_Code]) VALUES (1, N'OP1201', N'Process track by picture', CAST(N'2020-05-01T00:00:00.000' AS DateTime), CAST(N'2020-05-01T00:00:00.000' AS DateTime), N'Complete', N'ST01      ', N'UO64-215')
INSERT [dbo].[ParticleOperation] ([Id], [Operation_Code], [Operation_Description], [O_Start_Date], [O_End_Date], [O_Status], [Station], [O_Track_Code]) VALUES (2, N'OP2101', N'Process track by picture', CAST(N'2020-05-01T00:00:00.000' AS DateTime), NULL, N'In Process', N'ST01      ', N'UO64-215')
INSERT [dbo].[ParticleOperation] ([Id], [Operation_Code], [Operation_Description], [O_Start_Date], [O_End_Date], [O_Status], [Station], [O_Track_Code]) VALUES (3, N'OP2102', N'Process track by picture', NULL, NULL, N'Waiting', N'ST02      ', N'UO64-215')
SET IDENTITY_INSERT [dbo].[ParticleOperation] OFF
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [Track_Code], [Work_Order], [pr_Name], [Start_Date], [End_Date], [Status], [Due_Date], [PictureLink]) VALUES (1, N'UO64-215', N'T354NM-HGBEN', N'PR00001', CAST(N'2020-05-01' AS Date), NULL, N'In Process', CAST(N'2020-05-01' AS Date), N'https://www.productsamples.com/wp-content/uploads/2021/10/il-box.png')
INSERT [dbo].[Product] ([Id], [Track_Code], [Work_Order], [pr_Name], [Start_Date], [End_Date], [Status], [Due_Date], [PictureLink]) VALUES (3, N'YRET-237', N'T35RNM-HGBEN', N'PR00102', CAST(N'2020-05-01' AS Date), NULL, N'In Process', CAST(N'2020-05-01' AS Date), N'https://store.storeimages.cdn-apple.com/4668/as-images.apple.com/is/iphone-13-finish-select-202207-6-1inch-product-red_AV1_GEO_EMEA?wid=5120&hei=2880&fmt=p-jpg&qlt=80&.v=1656720517144')
SET IDENTITY_INSERT [dbo].[Product] OFF
GO
